<!DOCTYPE html>
<html>
<head>
  <title>Longpost</title>
  <meta name="Description" content="Create your own long post">
  <meta name="Keywords" content="longpost, long post, длиннопост, длинно пост, длинный поста, pikabu">
  <link rel="icon" type="image/png" href="favicon.png">
  <meta name="google-site-verification" content="7T81_hkTc4OXmEuWjCXe5J9TrdYsOx8Nog0Wbd1LMmI">
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>


<%= javascript_include_tag 'http://arrow.scrolltotop.com/arrow29.js' %>
<%= stylesheet_link_tag 'http://css-spinners.com/css/spinner/dots.css' %>
</body>
</html>
