<!DOCTYPE html>
<html>
<head>
  <title>Longpost</title>
  <meta name="Description" content="Create your own long post">
  <meta name="Keywords" content="longpost, long post, длиннопост, длинно пост, длинный поста, pikabu">
  <link rel="icon" type="image/png" href="favicon.png">
  <meta name="google-site-verification" content="7T81_hkTc4OXmEuWjCXe5J9TrdYsOx8Nog0Wbd1LMmI">
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>


<%= javascript_include_tag 'http://arrow.scrolltotop.com/arrow29.js' %>
<%= stylesheet_link_tag 'http://css-spinners.com/css/spinner/dots.css' %>
<!-- Yandex.Metrika counter -->
<script type="text/javascript">(function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter25485572 = new Ya.Metrika({id:25485572, accurateTrackBounce:true}); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="//mc.yandex.ru/watch/25485572" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</body>
</html>
